#canvasContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#canvasContainer canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Change Color Button Style */
#changeColor {
    background: linear-gradient(160deg, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.4));
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
    box-shadow: 0 0 15px rgba(0, 150, 255, 0.5);
    margin-left: 10px;
    font-size: 0.8rem;
}

#changeColor:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 20px rgba(0, 200, 255, 0.8);
}
